/* Change page body background color to sky blue */
body {
    background-color: rgb(220, 235, 241);
}

/* Add custom CSS styles here */
.department-card {
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.department-card:hover {
    transform: translateY(-5px);
}

.department-card img {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: #f0f0f0;
}

.text-color {
    color: #002d74;
}

.navbar {
    background-color: #0E2A2E; /* Change to your desired color */
}
.cursor-pointer{
    cursor: pointer;
}

.custom-button {
    background-color: #f9fafb;
    color: #002d74;
    border-color: #002d74;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  }
  
  .custom-button:hover {
    background-color: #002d74;
    color: #ffffff;
    border-color: #002d74;
  }
